# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\YSC-2023-Papers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
